<!doctype html>
{% load static %}
{% include 'trashsite/template.html' %}
<html>
<head>
	<meta charset="utf-8">
	<title>Trash Munchers</title>
 	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-about.css' %}">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript">
		window.onload = function() {
			setInterval(function() {
				document.body.className="";
			}, 500);
		};
	</script>
</head>
	<body class="preload">
		<div class="about_page">
        	<div class="title">
		    	<font class="title_trash">TRASH</font><br>
				<font class="title_munchers">MUNCHERS</font><br><br>
            </div>
            <font class="description_outline">A location based "cookie-clicker" type game to<br>
            <font class="description_second">promote sustainability at University of Exeter</font></font>
            <br><button class="start">Let's go!</button>
            
            <font class="description">A location based "cookie-clicker" type game to<br>
            <font class="description_second">promote sustainability at University of Exeter</font></font>
	    </div>                    
        <div class="image_box">
         	<font class="about_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat null
            pariatur.<br><br>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br><br>This is some more dummy 
            text, nothing to see here.
            </font>
            <div class="info">
            	<i class="icon-info-sign"></i>
                <span class="developed-info">
                	Developed by Ellie Kelemen, Scarlett Parker, William Liversidge, Owen Lee,
                </span>
                <span class="developed-second">
	                Malik Besta and Vignesh Mohanarajan
                </span>
            </div>
        </div>
    </body>
</html>