<!doctype html>
{% load static %}
{% include 'trashsite/template.html' %}
<html>
<head>
	<meta charset="utf-8">
	<title>Trash Munchers</title>
 	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-login.css' %}">
    <script type="text/javascript">
		async function check(event) {
			event.preventDefault();
			
			const url = "api/users/login/";
			const data = {
				"username" : document.getElementById('username').value,
				"password": document.getElementById('password').value
			};
			const other_params = {
				headers: { "content-type" : "application/json; charset=UTF-8" },
				body: JSON.stringify(data),
				method: "POST",
				mode: "cors"
			};
			
			fetch (url, other_params).then((response) => doStuff(response.json()));
		}
		
		async function doStuff(data) {
			var arr = await data;
			var stringArr = JSON.stringify(arr);
			var stringObj = "[" + stringArr + "]";
			var parseObj = JSON.parse(stringObj);
			
			var message = parseObj[0]["message"];
			
			if (message === "Logged in successfully") {
				window.location.replace("{% url 'index' %}");
			} else {
				document.getElementById('login').reset();
				document.getElementById('message').innerHTML = message;
			}
		}
	</script>
</head>
<body>
	<div class="login_page">
      	<div class="title">
	    	<font class="title_trash">TRASH</font><br>
			<font class="title_munchers">MUNCHERS</font><br><br>
        </div>
	</div>
    <div class="login_form">
    	<form id = "login">
        {% csrf_token %}
        	<div class="inputbox">
            <input type="text" id="username" required>
            <label for="">Username</label>
            </div>
            <div class="inputbox">
            <input type="password" id="password" required>
            <label for="">Password</label>
            </div>
			<button onclick="check(event);">Login</button>
            <br>
           	<span id = "message"> {{msg}} </span>
        </form>    	
    </div>
</body>
</html>
