{% load static %}
{% include 'trashsite/index.html' %}
<!DOCTYPE html>
<html>
  <head>
	<title>Map :)</title>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	
	<link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <script src={% static "js/map.js" %}></script>
	</head>
	<body>
    <!--The div element for the map -->
    <div class="map-modal">
      <div id="map"></div>
      <div class="below_map">
      <button onclick="placeMonster()" class="mapButton">testMonsterScreen</button>
      <button class="mapButton">button2</button>
      <button class="mapButton">button3</button>
      </div>
    </div>

    <!--<button onclick="changeZoom()">click to unzoom!!!</button>
    <button onclick="goToLocation()">Current Location</button>
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>
