{% load static %}
{% include 'trashsite/template.html' %}
<!DOCTYPE html>
<html>
  <head>
	<title>Map :)</title>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
	
	<link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <script src={% static "js/map.js" %}></script>
    <script src={% static "js/mapOptions.js" %}></script>
	</head>
	<body>
    {{user}}
    <!--The div element for the map -->
    <div class="map-modal">
      <p id="status">Welcome!</p>
      
      <div class="below_map">
        <button class="mapButton" id="enterScore">Insert trash</button>
        <button onclick="toggleLocation()" class="mapButton">Toggle Location</button>
        <button class="mapButton" onclick = "changeZoom()">Change Zoom</button>

        

      </div>
      
      <div id="mapAwait">
        <p id="awaitText">Awaiting map</p>
      </div>
      <div id="mapContainer">
        <p id="errorText" hidden>Error bar</p>
        <div id="map">
      </div>
      </div>
    </div>

    <!--<button onclick="changeZoom()">click to unzoom!!!</button>
    <button onclick="goToLocation()">Current Location</button>
    -->
    <!--api key is key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg-->
    <script
    
      src="https://maps.googleapis.com/maps/api/js?&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>
