{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Map :)</title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href={% static "css/style.css" %}>
    <script src={% static "js/map.js" %}></script>
  </head>
  <body>
<header>
    <nav>
    	<ul class = "nav_links">
	        <li class="about"><a href="#">About</a></li>
	        <li class="register"><a href="#">Register</a></li>
	    	  <li class="login"><a href="#">Login</a></li>
        </ul>
     </nav>
     </header>

    
    <!--The div element for the map -->
    <div id="mapUI">
      <h3>The map</h3>
      <button onclick="placeMonster()">testMonsterScreen</button>
      <div id="map"></div>
    </div>

    <!--<button onclick="changeZoom()">click to unzoom!!!</button>
    <button onclick="goToLocation()">Current Location</button>
    -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
      defer
    ></script>
  </body>
</html>
