{% load static %}
{% include 'trashsite/index.html' %}
<html>
	<head>
		<title> Map Selector :) </title>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>

    <link rel="stylesheet" type="text/css" href={% static "css/mapselect.css" %}>
    <script src={% static "js/mapselect.js" %}></script>
	</head>
	<body>
		<div class="map-modal">
			<div class="map-form">
				<p>Add a point</p>
				<form action="mapselect" onsubmit="return sendLocation()">
					<label for="location_name">Pick a name for this location:</label>
					<input type="text" id="location_name"><br>
					<br>
					<input class="submit-button" type="submit" value="Add it!">
				</form>
			</div>
			<div class="map">
				<img src="{% static 'images/tempmap.png' %}" style="object-fit: cover;">
			</div>
		</div>
	</body>
</html>
