<!doctype html>
{% load static %}
{% include 'trashsite/template.html' %}
<html>
<head>
	<meta charset="utf-8">
	<title>Trash Munchers</title>
 	<link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-register.css' %}">
    <script type="text/javascript">
		function check(event) {
			event.preventDefault();
			if (document.getElementById('password').value != document.getElementById('cpassword').value) {
				document.getElementById('register').reset();
				document.getElementById('message').innerHTML = "Passwords don't match!";
			} else {			
				const url = "api/users/player-register/";
				const data = {
					"user" : {
						"username" : document.getElementById('username').value,
						"first_name" : document.getElementById('fname').value,
						"last_name": document.getElementById('lname').value,
						"password": document.getElementById('password').value
					},
					"team": {
						"name": document.getElementById('team').value
					}
				};
				const other_params = {
					headers: { "content-type" : "application/json; charset=UTF-8" },
					body: JSON.stringify(data),
					method: "POST",
					mode: "cors"
				};
				
				fetch (url, other_params).then((response) => doStuff(response.json()));
			}
		}
		
		async function doStuff(data) {
			var arr = await data;
			var stringArr = JSON.stringify(arr);
			var stringObj = "[" + stringArr + "]";
			var parseObj = JSON.parse(stringObj);
			
			try {
				var message = parseObj[0]["user"]["username"][0];
			} catch (error) {
				//
			}
			
			try {
				var message2 = parseObj[0][0];
			} catch (error) {
				//
			}		
			
			if (parseObj.length !== 1) {
				window.location.replace("{% url 'index' %}");
			} else {
				if (typeof message !== 'undefined') {
					document.getElementById('register').reset();
					document.getElementById('message').innerHTML = message;
				} else if (typeof message2 !== 'undefined') {
					document.getElementById('register').reset();
					document.getElementById('message').innerHTML = message2;
				} else {
					document.getElementById('register').reset();
					document.getElementById('message').innerHTML = "Unexpected error";
				}
			}
		}
	</script>
</head>
<body>
	<div class="register_page">
      	<div class="title">
	    	<font class="title_trash">TRASH</font><br>
			<font class="title_munchers">MUNCHERS</font><br><br>
        </div>
	</div>
    <div class="register_form">
    	<form id = "register">
        	<div class="inputbox">
            <input type="text" id="username" required>
            <label for="">Username</label>
            </div>
            <div class="inputbox">
            <input type="text" id="fname" required>
            <label for="">First Name</label>
            </div>
            <div class="inputbox">
            <input type="text" id="lname" required>
            <label for="">Last Name</label>
            </div>
            <div class="inputbox">
            <input type="password" id="password" required>
            <label for="">Password</label>
            </div>
            <div class="inputbox">
            <input type="password" id="cpassword" required>
            <label for="">Confirm Password</label>
            </div>
            <div class="selectbox">
            <select id="team" class="team" required>
            	<optgroup>
                	<option value="Red">Red</option>
                    <option value="Blue">Blue</option>
                    <option value="Green">Green</option>
                </optgroup>
            </select>
            </div>
			<button onclick="check(event);">Register</button>
            <br>
           	<span id = "message"> {{msg}} </span>
        </form>    	
    </div>
</body>
</html>
