<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>Trash Munchers</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
	<div class="container">
    	<div class="images">
	       	<img src = "{% static 'images/green.png' %}" class="green" />
            <img src = "{% static 'images/red.png' %}" class="red" />
            <img src = "{% static 'images/pale.png' %}" class="pale" />
        </div>
		<div class="content">
	    </div>
		<div class="header">
		    <nav>
		   	<ul class = "nav_links">
		        <li class="home"><a href="{% url 'index' %}" class="home">Home</a></li>
		       	<li class="about"><a href="about" class="about">About</a></li>
		    	<li class="login"><a href="login" class="login">Login</a></li>
   		        <li class="register"><a href="register" class="register">Register</a></li>
		        </ul>
			</nav>
		</div>
	</div>
    <img src = "{% static 'images/left_plant.png' %}" class="left_plant" />
    <img src = "{% static 'images/right_plant.png' %}" class="right_plant" />
</body>
</html>
