[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-extensions = "*"
pillow = "*"
piplock = "*"
geopy = "*"
schedule = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
django-rest-passwordreset = "*"
djoser = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.9"
