@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #F0F0F0;
}

li, a, button {
	font-family: "Montserrat", sans-serif;
	color: #0F0F0F;
	text-decoration: none;
}

header {
	overflow: hidden;	
	align-items: center;
	padding: 30px 10%;
}

.nav_links li {
	display: inline-block;
	padding: 0px 9px;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}
	
.nav_links li a:hover {
	color: #96A394;
}

.about {
	float: left;
}

.register {
	float: right;
}
.login {
	float: right;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 600px; /* The width is the width of the web page */
}