@import url('https://fonts.googleapis.com/css?family=Montserrat:500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #61846F;
}

li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 0.97vw;
	text-decoration: none;
	decoration: none;
}

a.home:visited {
	text-decoration: none;
	color: white;
}

a.about:visited {
	text-decoration: none;
	color: white;
}

a.login:visited {
	text-decoration: none;
	color: black;
}

a.register:visited {
	text-decoration: none;
	color: black;
}

.images { 
	position: absolute;
}

.green {
	width: 28%;
	position: fixed;
	top: 0;
	left: 0;
	display: inline-block;
}

.red {
	width: 21%;
	position: fixed;
	bottom: 0;
	left: 0;
	display: inline-block;
}

.pale {
	width: 48%;
	height: 87%;
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-block;
}

.left_plant {
	width: 14%;
	position: fixed;
	bottom: 3vh;
	left: 2.2vw;
	display: inline-block;
}

.right_plant {
	width: 17.5%;
	position: fixed;
	bottom: 0;
	right: 0;
	display: inline-block;
}

.container {
	height: 93vh;
	width: 95vw;
	background-color: #D9D9D9;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 0px 0.7vw 6vh #272727;
}

.header {
	align-items: center;
	padding: 1.6vw 4vh;
	position: relative;
}

.header {
	z-index: 10;
}

.nav_links li {
	display: inline-block;
	padding: 0px 2.5vh;
}

.nav_links li a {
	transition: all 0.3s ease 0s;
}

.nav_links li a.home:hover {
	color: #FCDFC4;
}

.nav_links li a.about:hover {
	color: #FCDFC4;
}

.nav_links li a.register:hover {
	color: #977453;
}

.nav_links li a.login:hover {
	color: #977453;
}

.home {
	color: #FFFFFF;
	float: left;
}

.about {
	color: #FFFFFF;
	float: left;
}

.register {
	color: #000000;
	float: right;
}

.login {
	color: #000000;
	float: right;
}

.map-modal {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 85vw;
	height: 75vh;
	display: grid;
	grid-template-columns: 2fr 7fr;
	border-radius: 25px;
	overflow: hidden;
	box-shadow: 0px 0px 21px rgba(0, 0, 0, 0.5);
	background-color: #61846F;
}

#map {
	height: 60vh; /* The height is 400 pixels */
	width: 50vw; /* The width is the width of the web page */
	z-index: -1;
	float: right;
	position: absolute;

}

#mapAwait {
	height: 60vh; /* The height is 400 pixels */
	width: 50vw; /* The width is the width of the web page */
	z-index: -1;
	float: right;
	position: absolute;
	top:50%;
	left:65%;
	transform: translate(-50%,-50%);
}

#mapContainer {
	height: 60vh; /* The height is 400 pixels */
	width: 50vw; /* The width is the width of the web page */
	z-index: -1;
	box-shadow: 0px 4px 30px #272727;
	float: right;
	position: absolute;
	top:50%;
	left:65%;
	transform: translate(-50%,-50%);
}

#awaitText{
	text-align: center;
	font-size: 32px;
	font-family: "Montserrat", sans-serif;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.below_map {
	width:30%;
	list-style-type: none;
	text-align: center;
	float: left;
	position: absolute;
}
.mapButton {
	float: left;
  padding: 12px;
  text-decoration: none;
  font-size: 17px;
  width: 33.33%; /* Four links of equal widths */
  text-align: center;
  
	
}

#errorText{
	font-size: 1.2em;
	width: max-content;
	background-color: red;
	position: absolute;
	width: 50vw; /* The width is the width of the web page */
	font-family: "Montserrat", sans-serif;

}

#status{
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-size: larger;
}
